#body{
 background-color:	white;

}


#root{
float:left;



}


#legendPlayers{

	float:left;



}


#header{
	text-align: center;
	
}








#author{
   float:right;
   
   display:inline;

}

#corp{
width:500px;
margin:0px;

display:inline;

}
	
	
#shareButtons{
	 clear:both;
	 
	 margin-top: 690px;
 


}
.twitter-share-button[style] { vertical-align: text-bottom !important; }

